<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
    {{showPreloader}}
    <div ng-show="!modalOptions.friends.length">
        <img src="/assets/preloader.gif"/><br>
    </div>
    <div class="friends" ng-show="modalOptions.friends.length">
        <div id="{{'friend'+friend.id}}" ng-repeat="friend in modalOptions.friends" class="friend"
             ng-click="selectFriend(friend)">
            <div class="row">
                <div class="col-xs-3">
                    <img ng-src="{{friend.photo_100}}"/>
                </div>
                <div class="col-xs-9">
                    <h4>{{friend.first_name}} {{friend.last_name}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok()">
        {{modalOptions.actionButtonText}}
    </button>
</div>