body {
    word-wrap: break-word;
    background-color: #fefefe;
    position: relative;
}

.preloader {
    width: 130px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    z-index: 100000;
    top: 46%;
    left: 46%;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 0px 4px 1px rgba(50, 50, 50, 0.75);
    padding: 5px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.sectionCheck {
    font-size: 3em;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5); /*dim the background*/
}

.friends {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.friend {
    cursor: pointer;
    margin-bottom: 5px;
}

.selectedFriend {
    background-color: #a6e1ec;
}

.like {
    cursor: pointer;
}